@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --brand_blue: 221 83.2% 53.3%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-xl: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-2xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-3xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-4xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
    --font-size-5xl: clamp(3.81rem, 5.18vw + 2.52rem, 6.66rem);
    --font-size-6xl: clamp(4.77rem, 7.48vw + 2.9rem, 8.88rem);
  }
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: 0.8rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.56rem;
    --font-size-2xl: 1.95rem;
    --font-size-3xl: 2.44rem;
    --font-size-4xl: 3.05rem;
    --font-size-5xl: 3.81rem;
    --font-size-6xl: 4.77rem;
  }
  @media screen and (min-width: 1280px) {
    :root {
      --font-size-sm: 0.89rem;
      --font-size-base: 1.19rem;
      --font-size-lg: 1.58rem;
      --font-size-xl: 2.11rem;
      --font-size-2xl: 2.81rem;
      --font-size-3xl: 3.75rem;
      --font-size-4xl: 5rem;
      --font-size-5xl: 6.66rem;
      --font-size-6xl: 8.88rem;
    }
  }
}
