@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-xl: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-2xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-3xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-4xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
    --font-size-5xl: clamp(3.81rem, 5.18vw + 2.52rem, 6.66rem);
    --font-size-6xl: clamp(4.77rem, 7.48vw + 2.9rem, 8.88rem);
  }
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: 0.8rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.56rem;
    --font-size-2xl: 1.95rem;
    --font-size-3xl: 2.44rem;
    --font-size-4xl: 3.05rem;
    --font-size-5xl: 3.81rem;
    --font-size-6xl: 4.77rem;
  }
  @media screen and (min-width: 1280px) {
    :root {
      --font-size-sm: 0.89rem;
      --font-size-base: 1.19rem;
      --font-size-lg: 1.58rem;
      --font-size-xl: 2.11rem;
      --font-size-2xl: 2.81rem;
      --font-size-3xl: 3.75rem;
      --font-size-4xl: 5rem;
      --font-size-5xl: 6.66rem;
      --font-size-6xl: 8.88rem;
    }
  }
}

.landing-root::before {
  --size: 60px;
  --line: hsl(var(--primary) / 0.5);

  /* --line: red; */

  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  background:
    linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-15deg, transparent 30%, white);
  transform: translate3d(0, 0, -100vmin);
}
/* 
.notes-wrapper:has([data-expanded="true"]) {
  grid-template-columns: 20% 1fr;
}

.notes-wrapper:has([data-expanded="false"]) {
  grid-template-columns: 0% 1fr;
}

.notes-wrapper:has([data-expanded="true"]).wrapper-small {
  grid-template-columns: 1fr 0%;
}

.notes-wrapper:has([data-expanded="false"]).wrapper-small {
  grid-template-columns: 0% 1fr;
} */
